<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
    <img class="image-1" src="/public/images/johnnydepp.jpg" alt="img-johnny-depp">
    <h1>Johnny Depp</h1>
    <ul>
        <li><span>FULL NAME &#8680; </span> John Christopher Depp II</li>
        <li><span>BORN &#8680;</span> June 9, 1963</li>
        <li><span>BIRTHPLACE &#8680;</span> Owensboro, Kentucky</li>
        <li><span>CHILDREN &#8680;</span> Lily-Rose Melody Depp and John Christopher Depp III</li>
        <li><span>ASTROLOGICAL SIGN &#8680;</span> Gemini</li>
    </ul>
</div>
</body>
</html>