<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body class="background">
    <h1 class="header">Johnny Depp's 10 Greatest Roles</h1>
    <ul>
        <li>&#8680; Jack Sparrow, Pirates of the Caribbean</li>
        <li>&#8680; Edward Scissorhands, Edward Scissorhands</li>
        <li>&#8680; Donnie Brasco, Donnie Brasco</li>
        <li>&#8680; Gilbert Grape, What's Eating Gilbert Grape</li>
        <li>&#8680; Ed Wood, Ed Wood</li>
        <li>&#8680; Raoul Duke, Fear & Loathing in Las Vegas</li>
        <li>&#8680; Sam, Benny & Joon</li>
        <li>&#8680; Willy Wonka, Charlie and the Chocolate Factory</li>
        <li>&#8680; Tom Hanson, 21 Jump Street</li>
        <li>&#8680; Sir James Matthew Barrie, Finding Neverland</li>
    </ul>
</body>
</html>
